body {
  background: orange;
  color: white;
}
h1 {
    color: green;
}
h2 {
    color: brown;
}
p {
    text-indent: 50px;
}
p.ex1 {
    direction: rtl;
}
p.small {
    line-height: 0.7;
}

p.big {
    line-height: 1.8;
}
